/* Couleurs */
:root {
    --button: #000000;
    /* Bouton "Rechercher" header */
    --header: #ffffff;
    /* Fond header */
    --background: #eeeeee;
    /* Fond page */
}

body {
    background-color: var(--background) !important;
}

html, body {
    width: 100%;
    height: 100%;
}

/* === HEADER === */

header {
    background-color: var(--header);
    border-bottom: 1px solid lightgray !important;
    filter: drop-shadow(0 2px 1px gray);
}

/* Logo */
header img {
    height: 43px;
    width: 50px;
    transition-duration: .4s;
}

/* Animation logo */
header img:hover {
    transform: scale(1.1);
    transform-style: ease-in-out;
}

header a {
    font-size: 1.5em;
    font-family: 'HeptaSlab', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

header nav a:hover {
    font-weight: 500;
}

/* Bouton "Rechercher" */
header .input-group input[type="submit"] {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/search.svg");
    background-color: white;
    border: 2px solid white !important;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(105%) contrast(101%);
}

header .input-group input {
    border: 2px solid var(--button) !important;
}

/* === CARTE MONUMENTS === */
#map img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 100px;
}

/* === MAIN === */

main {
    max-width: unset !important;
    padding: 0 7vw !important;
}

/* Bouton "Coeur" / ajouter aux favoris */
#btnAddFavorite {
    background-color: transparent;
}

section {
    margin-bottom: 1em;
}

/* Bouton aléatoire */
#random-btn {
    background-color: var(--button);
    color: var(--background);
    transition-duration: .2s;
}

/* Animation bouton aléatoire */
#random-btn:hover {
    filter: drop-shadow(0 0px 10px black);
    transform: translateY(-0.2em);
}

/* Icône du dé */
#random-btn img {
    width: 1.5em;
    filter: invert(99%) sepia(5%) saturate(1143%) hue-rotate(198deg) brightness(118%) contrast(87%);
}


/* === BAS DE LA PAGE === */

/* Carousel */
#conteneurCarousel {
    height: 30vh;
}

#carouselImages,
#carouselImages .carousel-inner,
#carouselImages .carousel-item {
    height: 100%;
    background-color: black;
}

#carouselImages img {
    object-fit: contain;
    margin: auto;
    height: 100%;
    width: 100%;
}

#bloc-2 {
    height: 30vh;
}

/* === POLICES === */

@font-face {
    font-family: 'Amagro';
    src: url("../fonts/Amagro.woff2") format("woff2");
}

@font-face {
    font-family: 'HeptaSlab';
    src: url("../fonts/HeptaSlab.woff2") format("woff2");
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik.woff2") format("woff2");
}

h1 {
    font-family: 'Amagro', ' Georgia', 'Times New Roman', Times, serif !important;
    font-size: 2rem;
}

h2, h2 * {
    font-family: 'HeptaSlab', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    color: black !important;
}

html * {
    font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}