:root {
    --button: #000000;
    --header: #ffffff;
    --background: #eeeeee;
    --article: #faecb7;
    --titre: #d7ebb7;
}

header {
    background-color: blue;
    border-bottom: 1px solid lightgray !important;
    filter: drop-shadow(0 2px 1px gray);
}


/* Logo */
header img {
    height: 43px;
    width: 50px;
}

body {
    background-color: red !important;
}

/* Bouton "Rechercher" */
nav button {
    background-color: green !important;
}

main h2 {
    border-radius: 0.5em;
    padding: 0.1em 0.7em;
    background-color: purple;
    width: fit-content;
    filter: drop-shadow(0 2px 1px gray);
}

main img {
    height: 90vh;
    overflow: hidden;
}

h2, p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
}