/* Couleurs */
:root {
    --button: #000000;
    /* Bouton "Rechercher" header */
    --header: #ffffff;
    /* Fond header */
    --background: #eeeeee;
    /* Fond page */
}

body {
    background-color: var(--background) !important;
}

/* === HEADER === */

header {
    background-color: var(--header);
    border-bottom: 1px solid lightgray !important;
    filter: drop-shadow(0 2px 1px gray);
}

/* Logo */
header img {
    height: 43px;
    width: 50px;
}
/* Animation logo */
header img:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

header nav a {
    color: black !important;
    text-decoration: none;

    font-size: 1.5em;
    font-family: 'HeptaSlab', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

    border-left: 2px solid black;
    padding: 0 0.5em;
    ;
    height: fit-content;

}

header nav a:hover {
    font-weight: 500;
}

/* Bouton "Rechercher" */
header .input-group input[type="submit"] {
    border: 2px solid var(--button) !important;
    background-color: var(--button) !important;
    color: white !important;
}


header .input-group input {
    border: 2px solid var(--button) !important;
}

/* === MAIN === */

/* Titre */
#bloc-detail h2 {
    width: fit-content;
}

/* Bouton "Coeur" / ajouter aux favoris */
#btnAddFavorite img {
    width: 3em;
    filter: invert(41%) sepia(95%) saturate(16%) hue-rotate(21deg) brightness(103%) contrast(91%);
    border-radius: 5em;
    padding: 0.5em 0.4em 0.3em;

}

/* Animation bouton "coeur" */
#btnAddFavorite:hover #coeur {
    transform: scale(1.3);
    transition: transform 0.4s ease-in-out;
}

/* Animation bouton lien wikipedia */
#wikiLink:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
}

/* Description */
#bloc-detail p {
    border-top: 1px solid black;
    padding-top: 5px;
}

section {
    margin-bottom: 1em;
}

/* Bouton "Bien aléatoire" */
#random-btn {
    background-color: var(--button);
    border-radius: 2em;
}

/* Animation bouton "Bien aléatoire" */
#random-btn:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}


#random-btn img {
    width: 3em;
    filter: invert(99%) sepia(5%) saturate(1143%) hue-rotate(198deg) brightness(118%) contrast(87%);
}

#random-btn span {
    font-size: 1.5em;
    color: var(--background);
}

/* === BAS DE LA PAGE === */

/* Carousel */
#conteneurCarousel {
    height: 30vh;
}

#carouselImages,
#carouselImages .carousel-inner,
#carouselImages .carousel-item {
    height: 100%;
    background-color: black;
}

#carouselImages img {
    object-fit: contain;
    margin: auto;
    height: 100%;
    width: 100%;
}

#bloc-tags span {
    background-color: var(--button);
    border-radius: 2em;
    font-size: 1em;
    color: var(--background);
    padding: 0.3em 0.5em;
    margin-right: 1em;
}

#bloc-2 {
    height: 30vh;
}

#map {
    height: 100%;
}


/* === POLICES === */

@font-face {
    font-family: 'Amagro';
    src: url("../fonts/Amagro.woff2") format("woff2");
}

@font-face {
    font-family: 'HeptaSlab';
    src: url("../fonts/HeptaSlab.woff2") format("woff2");
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik.woff2") format("woff2");
}

h1 {
    font-family: 'Amagro', ' Georgia', 'Times New Roman', Times, serif !important;
}

h2 {
    font-family: 'HeptaSlab', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    color: black !important;
}

html * {
    font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}